* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: rgb(40, 139, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: white;
    font-size: 70px;
}

/* -------------------------------loader start-----------------------------*/

.loader {
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgb(155 188 222 / 50%);
}

.loader-boxes {
    width: 600px;
    position: absolute;
}

.loader-box {
    text-align: center;
    width: 10%;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5px;
    display: inline-block;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#loader-box-1 {
    animation-delay: 0;
}

#loader-box-2 {
    animation-delay: 100ms;
}

#loader-box-3 {
    animation-delay: 200ms;
}

#loader-box-4 {
    animation-delay: 300ms;
}

#loader-box-5 {
    animation-delay: 400ms;
}

#loader-box-6 {
    animation-delay: 500ms;
}

#loader-box-7 {
    animation-delay: 600ms;
}

#loader-box-8 {
    animation-delay: 700ms;
}

#loader-box-9 {
    animation-delay: 800ms;
}

#loader-box-10 {
    animation-delay: 900ms;
}

@keyframes move {
    0% { transform: rotateX(0deg); }
  100% { transform: rotateX(360deg); }
}

.display-none {
    display: none;
}